    <section class="container">
      <h1 class="large text-primary">
        Dashboard
      </h1>
      <p class="lead"><i class="fas fa-user"></i> Seja Bem Vindo</p>
      <p class="lead"> {{req.user.name}}</p>
      
      {{#if profile}}
      <div class="dash-buttons">
        <a href="/profiles/profile/edit/{{profile._id}}" class="btn btn-light"><i class="fas fa-user-circle text-primary"></i> Editar meu Perfil</a>
        <a href="/profiles/create/experience" class="btn btn-light"><i class="fab fa-black-tie text-primary"></i> Add Serviços Realizados</a>
        <a href="/profiles/create/education" class="btn btn-light"><i class="fas fa-graduation-cap text-primary"></i> Add Cursos Realizados</a>
      </div>

      {{#if profile.experience}}
      <h2 class="my-2">Serviços Realizados</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th class="hide-sm">Titulo do Serviço</th>
            <th class="hide-sm">Cidade</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each profile.experience}}
          <tr>
            <td>{{company}}</td>
            <td class="hide-sm">{{title}}</td>
            <td class="hide-sm">{{location}}</td>
            <td>
            <div class="my-2">
              <form method="post" action="/profiles/profile/experience/{{_id}}?_method=DELETE">
                <button type="submit" class="btn btn-danger" >
                    <i class="fas fa-user-minus"></i>Excluir minha conta
                </button>
              </form>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
{{else}}
        <h2 class="my-2">Você não possui Serviços realizados</h2>
        <p class="lead">Clique em Add Serviço Realizados</p>
        <p class="lead">E adicione Serviços que já realizou</p>
{{/if}}

{{#if profile.education}}
       <h2 class="my-2">Cursos Realizados</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Escola</th>
            <th class="hide-sm">Nome do Curso</th>
            <th class="hide-sm">Grau de Dificuldade</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each profile.education}}
          <tr>
            <td>{{school}}</td>
            <td class="hide-sm">{{fieldofstudy}}</td>
            <td class="hide-sm">{{degree}}</td>
            <td>
            <div class="my-2">
              <form method="post" action="/profiles/profile/education/{{_id}}?_method=DELETE">
                <button type="submit" class="btn btn-danger" >
                    <i class="fas fa-user-minus"></i>Excluir minha conta
                </button>
              </form>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
{{else}}
        <h2 class="my-2">Você não possui Cursos Realizados</h2>
        <p class="lead">Clique em Add Cursos Realizados</p>
        <p class="lead">E adicione cursos que já realizou</p>
{{/if}}

        <div class="my-2">
          <form method="post" action="/profiles/profile/delete?_method=DELETE">
            <button type="submit" class="btn btn-danger" >
                <i class="fas fa-user-minus"></i>Excluir minha conta
            </button>
          </form>
          </div>

        {{else}}
      <div class="dash-buttons">
        <a href="/profiles/create/profile" class="btn btn-light"><i class="fas fa-user-circle text-primary"></i>Criar Perfil Profissional</a>
      </div>
        <h2 class="my-2">Você não possui um perfil profissional</h2>
        <p class="lead">Se você é um profissional Clique em Editar meu perfil</p>
        {{/if}}
    </section>
